/* ==========================================================================
   button / component
   ========================================================================== */

.button {
    background-color: var(--color-primary);
    border-radius: 3px;
    color: var(--color-black);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 1em 2em;
    transition: all 0.4s $ease-out-expo;

    &:hover,
    &:focus {
        background-color: var(--color-white);
        color: var(--color-black);
    }
}
