/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #001514;

    // Couleurs du projet
    --color-primary: #1c7c54;
    --color-primary-light: #c3d898;
    --color-secondary: #1b512d;

    --color-fail: #f6511d;
    --color-neutral-dark: #444;
}
