/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Libre Baskerville', serif;
    --font-secondary: 'Baloo 2', cursive;
    --font-tertiary: 'Monda', sans-serif;

    --font-size-content: 1.6rem;

    /// Grosseur des textes
    --font-size-h1: 12rem;
    --font-size-h2: 4.5rem;
    --font-size-h3: 2.4rem;
}
